#file_upload {
    margin-right: 0px;
}

#caption {
    margin-right: 70px
}

#photos {
    list-style-type: none;
}

#pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1280px;
    height: 960px;
}


.comment {
    margin: 2em;
    width: 15%;
    display: inline-block;
}


.meta-data {
    font-size: 0.8em;
}

button {
    padding: 0 0.5 0 0.5em;
    margin-top: 0.5em;
}