// Site colors

$blue_grey:#1A446C;
$light_blue:#689DC1;
$very_light_blue:#D4E6F4;
$light_tan:#EEE4B9;
$burgundy:#8D0D19;

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background: #FFFFFF;
    font: 13px/15px Verdana,Arial,Helvetica,sans-serif;
}

img {
    border: none;
}

table, tr, td, tr {
    border-collapse: collapse;
    vertical-align: top;
    text-align: left;
    font: 13px/15px Verdana,Arial,Helvetica,sans-serif;
}

a {
    color: $burgundy;
}

header {
    height: 70px;
    text-align: left;
    background: $blue_grey;
    color: $very_light_blue;

    h1 {
        padding: 1em;
    }
}

main {
    min-height: 600px;
    width: 100%;
    background: $light_tan;
    padding: 2em;
}

footer {
    height: 2em;
    padding: 1em;
    text-align: center;
    background: $blue_grey;
    color: $very_light_blue;
}

table.bordered tr th, table.bordered tr td {
    border: 1px solid #000000;
}